@{
    ViewBag.Title = "Home Page";
}



<div class="row">

    <div class="col-md-4">
        <h2>ERP CRM</h2>
        <p>
            Sistema de teste de desenvolvimento de um ERP-CRM.
        </p>
    </div>
    
</div>